body{
    background-image: url("images/music-background.jpg");
    background-attachment: fixed;
    background-size: cover;
    
    
}
.header{
    height: 25em;
}
.header h1{
    padding-top: 1em;
    font-size: 90px;
    font-family:cursive;
    color:whitesmoke;
    text-shadow:5px 2px 15px rgba(216, 84, 199, 0.7490196078431373);
}
.selection-area button{
    background-color: rgba(216, 84, 199, 0.7490196078431373);
    border-color:whitesmoke;
    color:rgba(186, 216, 215, 0.78);
}
.selection-area button:hover{
    box-shadow: 0px 0px 50px rgba(216, 84, 199, 0.7490196078431373);
}
.selection-area input:hover{
    box-shadow: 0px 0px 50px rgba(216, 84, 199, 0.7490196078431373);
}
#get-music-button .button-display { 
    display: none; 
}
#get-music-button:hover .button-shown {
     display: none; 
    }
#get-music-button:hover .button-display {
     display: inline; 
    }
.song-list{
    padding-top: 30px;
}
.song{
    color:whitesmoke;
    background-color: rgba(46, 10, 75, 0.274); 
    box-shadow: 0px 0px 50px rgba(216, 84, 199, 0.7490196078431373);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    
}
.song:hover{
    box-shadow: 0px 0px 150px white;
}
.album-art {
width: 200px;
height: 200px;
}
.song h3,h4{
    padding-bottom: 15px;
}